body{
    padding-bottom: 50px;
}

.carousel{
    display: flex;
    font-size: xxx-large;

}
.prev{
    float: left;
    position: relative;
    top: 35%;
    color: red;
}

.next{
    float: right;
    color: red;
    position: relative;
    top: 35%;
}


.picture{
    padding: 10px;
}


.poke{
    font-weight: bold;
   position: relative;
}
p {
    display: none;
}



.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer{
    background: royalblue;
    height: 400px;
}
.content{
    position: relative;
    overflow:hidden;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}

